body{
  background-color: #D8EFE3;
  font-family: "Kaisei HarunoUmi", serif;
}
#submitButton{
  font-family: "Kalnia", serif;
}
#textRow{
  font-family: "Inter", sans-serif;
  color: #726253;
}
#logintext{

    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  #textlogin{
    font-family: 'Inter', sans-serif;
 
  }